

.agro-exp-section {
  width: 100%;
  background-color: #214837;
  padding: 5rem 0;
  margin:0;
  overflow-x: hidden;
  /* position: relative; */
  /* bottom: px; */
  /* z-index: 2000; */
  /* top: -20px; */
  /* margin-top: 100px; */
  position:relative;
  /* bottom: -70px; */
}

.agro-exp-content {
  /* max-width: 1200px; */
  margin: 0 auto;
  text-align: center;
  /* padding: 0 2rem; */
  color: white;
}

.agro-exp-title {
  font-size: 1.8rem;
  position: relative;
  bottom: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.agro-exp-description {
  font-size: 1rem;
  /* line-height: 1.8; */
  max-width: 900px;
  margin: 0 auto;
  font-weight: 600;
  position: relative;
  bottom: 1rem;
}

/* Responsive Design */

@media (max-width: 768px) {
  .agro-exp-section {
    max-width: 800px;
    /* padding: 3rem 0; */
  }

  .agro-exp-title {
    font-size: 0.8rem;
    font-weight: 800 ;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
  }

  .agro-exp-description {
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    /* line-height: 1.6; */
    /* padding: 0 1rem; */
  }
}

